<template>
  <div class="FormValidate container-fluid bg-light">
    <form>
      <div class="row justify-content-center align-items-center">
        <div
          class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
        >
          <h1>Form Information User</h1>
          <hr />
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              :value="userData.email"
              @input="userData.email = $event.target.value"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="Password"
              v-model="userData.password"
            />
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input
              type="number"
              id="age"
              class="form-control"
              v-model="userData.age"
            />
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div
          class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group"
        >
          <label for="message">Message</label><br />
          <textarea
            id="message"
            rows="5"
            class="form-control"
            v-model="message"
            placeholder="please hold my text..."
            style="font-style: italic"
          ></textarea>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div
          class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
        >
          <div class="form-group">
            <label for="sendmail">
              <input
                type="checkbox"
                id="sendmail"
                value="SendMail"
                v-model="sendEmail"
              />
              Send Mail
            </label>
            <label for="sendInfomail">
              <input
                type="checkbox"
                id="sendInfomail"
                value="SendInfoMail"
                v-model="sendEmail"
              />
              Send Infomail
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div
          class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group"
        >
          <label for="male">
            <input type="radio" id="male" value="Male" v-model="gender" /> Male
          </label>
          <label for="female">
            <input type="radio" id="female" value="Female" v-model="gender" />
            Female
          </label>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div
          class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group"
        >
          <label for="priority">Priority</label>
          <select id="priority" class="form-control" v-model="selectedPriority">
            <option v-for="item in priority" :key="item">
              {{ item }}
            </option>
          </select>
        </div>
      </div>
      <div class="row justify-content-center align-items-center">
        <div
          class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group"
        >
          <label for="switched">Switched</label>
          <custom-control v-modle="dataSwitch"> </custom-control>
        </div>
      </div>
      <hr />
      <div class="row justify-content-center align-items-center">
        <div
          class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
        >
          <button class="btn btn-primary" @click.prevent="submited">
            Submit!
          </button>
        </div>
      </div>
    </form>
    <hr />
    <div
      class="row justify-content-center align-items-center"
      v-if="isSubmited"
    >
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Your Data</h4>
          </div>
          <div class="panel-body">
            <p>Mail: {{ userData.email }}</p>
            <p>Password: {{ userData.password }}</p>
            <p>Age: {{ userData.age }}</p>
            <p style="white-space: pre">Message: {{ message }}</p>
            <p><strong>Send Mail?</strong></p>
            <ul>
              <li v-for="item in sendEmail" :key="item">{{ item }}</li>
            </ul>
            <p>Gender: {{ gender }}</p>
            <p>Priority: {{ selectedPriority }}</p>
            <p>Switched: {{ dataSwitch }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormControl from "./CustomControl.vue";
export default {
  data() {
    return {
      userData: {
        email: "",
        password: "",
        age: 0,
      },
      message: "",
      sendEmail: [],
      gender: "male",
      priority: ["High", "Medium", "Low"],
      selectedPriority: "low",
      dataSwitch: true,
      isSubmited: false,
    };
  },
  methods: {
    submited() {
      this.isSubmited = true;
    },
  },
  components: {
    customControl: FormControl,
  },
};
</script>

<Style></Style>
