<template>
  <div>
    <FormValidate></FormValidate>
    <TodoList></TodoList>
  </div>
</template>

<script>
import FormValidate from "./components/FormValidate.vue";
import TodoList from "./components/TodoList.vue";

export default {
  data() {
    return {};
  },
  components: { FormValidate, TodoList },
};
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
@import "~bootstrap/dist/css/bootstrap.css";
</style>
